<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div id="main">
		<section>
			<%= yield %>
		</section>
		<aside>
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'list',
				  rpp: 20,
				  interval: 6000,
				  title: '@jueguebalon',
				  subject: 'Recomendados',
				  width: 'auto',
				  height: 255,
				  theme: {
					shell: {
					  background: '#333333',
					  color: '#ffffff'
					},
					tweets: {
					  background: '#000000',
					  color: '#ffffff',
					  links: '#4aed05'
					}
				  },
				  features: {
					scrollbar: true,
					loop: false,
					live: true,
					hashtags: true,
					timestamp: true,
					avatars: true,
					behavior: 'all'
				  }
				}).render().setList('jueguebalon', 'jueguebalon').start();
			</script>
		</aside>
		</div>
		
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
